* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito sans", "Inter", 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    min-height: 100vh;
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

div#root {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pointer-accessible {
    cursor: pointer;
}

/* MAIN  */

main {
    flex-grow: 1;
    height: 100%;
}

main.user-item-page, main.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 15vw;
}

main.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* HEADER  */

header {
    display: flex;
    background: rgb(67, 56, 120);
    color: white;
    padding: 15px 40px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header > nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

header .user-profile {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* PROFILE MENU */


.profile-menu {
    position: absolute;
    background: rgb(126, 96, 191);
    color: white;
    border-radius: 8px;
    padding: 10px 5px;
    width: 250px;
    top: calc(100% - 10px);
    right: 40px;
}

.profile-menu span {
    font-size: 1.25rem;
}

.profile-menu p {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
    border-bottom: 0.5px solid rgb(255,255,255, 0.2);
}

.profile-menu > *:last-child > p {
    border: none;
}


/* ITEM CARD  */

.item-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 40px;
    width: 100%;
}

.item-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-card {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 4px darkgray;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
}

.item-price > span, .item-card .material-symbols-outlined, .item-name {
    color: rgb(67, 56, 120);
}

.item-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-card-content > img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 200px;
}

.item-card-content .item-description {
    opacity: 0.75;
}

.item-card-content .item-name {
    font-size: 1.25rem;
}

.item-card p {
    font-size: 0.9rem;
}

.item-card-header .item-seller {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-seller > img, .user-profile > img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.item-price {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.item-price > * {
    font-size: 0.7rem;
}

.item-price > span {
    font-weight: bold;
    font-size: 1rem;
}

.item-card-footer {
    margin-left: auto;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.item-seller > p {
    font-size: 1rem;
}

.item-card-header .item-date {
    font-size: 0.8rem;
    letter-spacing: 0.01px;
}

/* FOOTER  */

footer {
    background: rgb(67, 56, 120);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer span {
    font-family: sans-serif;
}

footer a:hover {
    text-decoration: underline;
}

/* ITEM FORM  */

.add-item-form {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 10;
    transform-origin: center;
}

.add-item-form, .login-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 12px;
    gap: 20px;
    justify-content: center;
    width: 500px;
    height: 400px;
}

.add-item-form > div, .login-form > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-item-form label, .login-form label {
    align-self: self-start;
}

.add-item-form label {
    font-size: 0.9rem;
}

.add-item-form input, .add-item-form textarea, .login-form input {
    border: 1px solid #dfdfe0;
    background-color: white;
    border-radius: 10px;
    padding: 0.5em 0.7em;
    flex-grow: 1;
    font-size: 1rem;
    color: #4a4a4a;
}

.add-item-form button, .add-item-button, .login-button {
    text-align: center;
    background-color: rgb(67, 56, 120);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
}

.add-item-form button {
    flex-grow: 1;
}

.add-item-button {
    margin-inline: auto;
    margin-bottom: 30px;
}

input[type='file'] {
    display: none;
}

input::placeholder {
    color: rgb(185, 185, 185);
}


/* BACKDROP  */

.dark-backdrop {
    position: fixed;
    inset: 0;
    background: rgb(0, 0, 0, 0.4);
    z-index: 0;
}

/* LOGIN PAGE  */

.login-img-container {
    width: 400px;
    position: absolute;
    inset: 0 auto 0 0;
}

.login-img-container > img {
    height: 100%;
    object-fit: cover;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.login-button {
    flex-grow: 1;
    max-height: 40px;
}

.login-button-container {
    display: flex;
}

.file-input > label {
    display: flex;
    align-items: center;
}
