* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

div#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER  */

header {
    display: flex;
    background: rgb(67, 56, 120);
    color: white;
    padding: 15px 30px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header > nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

header > nav > p, .user-profile > img {
    cursor: pointer;
}

/* PROFILE MENU */


.profile-menu {
    position: absolute;
    background: rgb(126, 96, 191);
    color: white;
    border-radius: 8px;
    padding: 10px 5px;
    width: 200px;
    right: 30px;
    transform: translateY(8px);
}

.profile-menu span {
    font-size: 1.25rem;
}

.profile-menu p {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
}

.profile-menu p:last-child {
    border: none;
}


/* ITEM CARD  */

.item-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.item-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-card {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 4px darkgray;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-price > span, .item-card .material-symbols-outlined, .item-name {
    color: rgb(67, 56, 120);
}

.item-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-card-content > img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-card-content .item-description {
    opacity: 0.75;
}

.item-card-content .item-name {
    font-size: 1.25rem;
}

.item-card p {
    font-size: 0.9rem;
}

.item-card-header .item-seller {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-seller > img, .user-profile > img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.item-price {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.item-price > * {
    font-size: 0.7rem;
}

.item-price > span {
    font-weight: bold;
    font-size: 1rem;
}

.item-card-footer {
    margin-left: auto;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.item-card-footer > span {
    cursor: pointer;
}

.item-seller > p {
    font-size: 1rem;
}

.item-card-header .item-date {
    font-size: 0.8rem;
    letter-spacing: 0.01px;
}

/* MAIN  */

main {
    padding: 50px 15vw;
    flex-grow: 1;
}

/* FOOTER  */

footer {
    background: rgb(67, 56, 120);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer span {
    font-family: sans-serif;
}

footer a:hover {
    text-decoration: underline;
}