* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/* HEADER  */

header {
    display: flex;
    background: rgb(67, 56, 120);
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

header > nav {
    display: flex;
    gap: 15px;
}

header > nav > p {
    cursor: pointer;
}

/* ITEM CARD  */

.item-card {
    width: 200px;
    background: yellow;
    border-radius: 6px;
    padding: 10px;
}

/* MAIN  */
